<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
    <Appenders>
        <Console name="Console">
            <PatternLayout>
                <Pattern>%d %p %c{2} [%t] %l %m%n</Pattern>
            </PatternLayout>
        </Console>
        <File name="File2" filename="src/main/resources/logs-errors.txt">
            <PatternLayout>
                <Pattern>%d %p %c{2} [%t] %l %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="File2" level="error"/>
        </Root>
    </Loggers>
</Configuration>
